.Home {
  scroll-behavior: smooth;
  margin: 0 10px;
  margin-top: 120px;
}

.Home .HomeSection1 div:first-child {
  margin-top: 80px;
}

.Home .HomeSection1 div:first-child > h6:first-child {
  font-size: 0.75rem;
}

.Home .HomeSection1 div:first-child > h2 {
  color: #255B7D;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}

.Home .HomeSection1 div:first-child > h6:nth-child(3) {
  font-size: 0.875rem;
  color: #868686;
  margin-top: 10px;
}

.Home .HomeSection1 div:first-child .homeBtn {
  margin-top: 25px;
}

.Home .HomeSection1 div:first-child .homeBtn button {
  font-size: 0.75rem;
}

.Home .HomeSection1 div:first-child .homeBtn button:first-child {
  background-color: #3CBF54;
}

.Home .HomeSection1 div:first-child .homeBtn button:last-child {
  border: 1px solid #3CBF54;
  margin-left: 16px;
}

.Home .HomeSection1 div:first-child > div:last-child {
  margin-top: 20px;
}

.Home .HomeSection1 div:first-child > div:last-child > div img {
  width: 40px;
  margin-left: 15px;
}

.Home .HomeSection1 > div:last-child {
  width: 100%;
  padding: 0 40px;
}

.Home .HomeSection1 > div:last-child img {
  width: 100%;
}

.Home .homeSection2 > div:first-child {
  margin-top: 40px;
}

.Home .homeSection2 > div:first-child > h6 {
  font-size: 0.875rem;
  color: #868686;
}

.Home .homeSection2 > div:first-child > h3 {
  font-size: 1rem;
  color: #255B7D;
  font-weight: 600;
}

.Home .homeSection2 > div:first-child > h4 {
  font-size: 0.875rem;
  color: #868686;
}

.Home .homeSection2 > div:last-child div {
  padding: 40px 20px;
  width: 70%;
  margin: 25px auto;
  background-color: #FAFAFA;
  border-bottom: 3px solid #255B7D;
  -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
          box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.Home .homeSection2 > div:last-child div img {
  width: 60px;
  margin: 10px;
}

.Home .homeSection2 > div:last-child div > h3 {
  font-size: 0.875rem;
  color: #255B7D;
  margin: 10px 0;
  font-weight: 600;
}

.Home .homeSection2 > div:last-child div > h5 {
  font-size: 0.75rem;
  margin: 10px;
  color: #868686;
  text-align: center;
}

.Home .HomeSection3 > div:first-child {
  position: relative;
  margin-top: 50px;
}

.Home .HomeSection3 > div:first-child > img:first-child {
  width: 60%;
  margin: 0 auto;
  z-index: 0;
}

.Home .HomeSection3 > div:first-child > img:last-child {
  position: absolute;
  left: 0;
  width: 100%;
  top: 1%;
  z-index: 0;
}

.Home .HomeSection3 > div:last-child {
  margin-top: 145px;
  text-align: center;
  padding: 30px;
}

.Home .HomeSection3 > div:last-child > h6 {
  font-size: 0.75rem;
  color: #000000;
}

.Home .HomeSection3 > div:last-child > h4 {
  font-size: 1.125rem;
  color: #255B7D;
}

.Home .HomeSection3 > div:last-child > h5 {
  font-size: 0.875rem;
  text-align: justify;
  color: #868686;
}

.Home .HomeSection3 > div:last-child > div {
  margin-top: 15px;
}

.Home .HomeSection3 > div:last-child > div > button {
  background-color: #3CBF54;
  color: #eeeeee;
}

.Home .imageSwapIn {
  opacity: 1;
  scale: 1;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.Home .imageSwapOut {
  opacity: 0.2;
  scale: 0.9;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.Home .HomeSection4 > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.Home .HomeSection4 > div:first-child > div:first-child {
  width: 100%;
}

.Home .HomeSection4 > div:first-child > div:first-child > div:hover {
  scale: 1.1;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.Home .HomeSection4 > div:first-child > div:first-child > div {
  width: 30%;
  border-bottom: 3px solid #3CBF54;
  margin-left: 5%;
  -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
          box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.Home .HomeSection4 > div:first-child > div:first-child > div img {
  width: 40px;
  margin-top: 13px;
}

.Home .HomeSection4 > div:first-child > div:first-child > div h3 {
  font-size: 1rem;
  margin-top: 6px;
  color: #3CBF54;
}

.Home .HomeSection4 > div:first-child > div:first-child > div:first-child {
  margin-left: 0;
}

.Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(2),
.Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(3) {
  border-bottom: 3px solid #255B7D;
}

.Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(2) > h3,
.Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(3) > h3 {
  color: #255B7D;
}

.Home .HomeSection4 > div:first-child > div:last-child {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 60px;
  position: relative;
}

.Home .HomeSection4 > div:first-child > div:last-child img {
  width: 100%;
  border-radius: 50px;
}

.Home .HomeSection4 > div:last-child {
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .HomeSection4 > div:last-child > h5 {
  font-size: 0.875rem;
}

.Home .HomeSection4 > div:last-child > h3 {
  font-size: 1.25rem;
  color: #255B7D;
  font-weight: 600;
}

.Home .HomeSection4 > div:last-child > p {
  color: #868686;
  font-size: 0.875rem;
  text-align: justify;
}

.Home .HomeSection4 > div:last-child > div {
  width: 100%;
  margin-top: 15px;
}

.Home .HomeSection4 > div:last-child > div button {
  background-color: #3CBF54;
}

.Home .HomeSection5 {
  margin-top: 71px;
}

.Home .HomeSection5 > div:first-child {
  text-align: center;
}

.Home .HomeSection5 > div:first-child > h6 {
  font-size: 0.875rem;
}

.Home .HomeSection5 > div:first-child > h3 {
  font-size: 1.125rem;
  color: #255B7D;
  font-weight: 600;
}

.Home .HomeSection5 > div:first-child > h4 {
  font-size: 1.125rem;
  color: #868686;
  margin: 0 auto;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) {
  width: 200px;
  height: 50px;
  background: rgba(37, 91, 125, 0.12);
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) > h5 {
  width: 50%;
  text-align: center;
  margin: auto;
  z-index: 1;
  color: white;
  font-style: normal;
  font-size: 0.875rem;
  cursor: pointer;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) > div {
  border-radius: 25px;
  width: 50%;
  position: absolute;
  background-color: #255B7D;
  top: 2.5px;
  height: 90%;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) .toggleBtn1 {
  color: white;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) .toggleBtn2 {
  color: #255B7D;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) .toggleBtnMove1 {
  margin-left: 2px;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.Home .HomeSection5 > div:first-child > div:nth-child(4) .toggleBtnMove2 {
  margin-left: 48%;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.Home .HomeSection5 > div:last-child {
  margin-top: 30px;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 {
  background: #FAFAFA;
  border-radius: 5px;
  -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
          box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
  padding: 30px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 340px;
  margin: 0 auto;
  margin-top: 21.5px;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > h5:first-child {
  font-weight: 600;
  font-size: 1.125rem;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > h4 {
  font-weight: 700;
  font-size: 1.25rem;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > h5:nth-child(3) {
  text-transform: capitalize;
  color: #868686;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > button {
  background-color: #3CBF54;
  width: 141px;
  margin: 0 auto;
  margin-top: 18px;
  color: #eeeeee;
  font-size: 1rem;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13px;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > div > h5 {
  font-size: 1rem;
  margin-left: 14px;
  color: #868686;
}

.Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > div > img {
  -o-object-fit: contain;
     object-fit: contain;
}

.Home .HomeSection6 > div:first-child {
  margin-top: 70px;
}

.Home .HomeSection6 > div:first-child > h6 {
  font-size: 1rem;
  color: #000000;
}

.Home .HomeSection6 > div:first-child > h4 {
  font-size: 1.125rem;
  color: #255B7D;
}

.Home .HomeSection6 > div:first-child > h5 {
  font-size: 0.875rem;
  color: #868686;
}

.Home .HomeSection6 > div:last-child .card2 {
  margin-top: 55px;
  border-bottom: 2px solid #255B7D;
  margin-bottom: 2px;
}

.Home .HomeSection6 > div:last-child .card2 > div:first-child {
  background-color: #255B7D;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 14px;
  color: white;
}

.Home .HomeSection6 > div:last-child .card2 > h5 {
  color: #255B7D;
  margin-top: 14px;
}

.Home .HomeSection6 > div:last-child .card2 > p {
  text-align: justify;
  margin-top: 14px;
  color: #868686;
}

.Home .HomeSection7 > div:first-child {
  background-color: #E5EBEF;
  margin-top: 77px;
  padding: 20px;
}

.Home .HomeSection7 > div:first-child > div:first-child > h6:first-child {
  font-size: 0.875rem;
}

.Home .HomeSection7 > div:first-child > div:first-child > h4 {
  color: #255B7D;
  font-size: 1.25rem;
}

.Home .HomeSection7 > div:first-child > div:first-child > h6:last-child {
  color: #868686;
  font-size: 1rem;
}

.Home .HomeSection7 > div:first-child > form {
  width: 100%;
  background: rgba(217, 217, 217, 0.3);
  border: 0.33px solid rgba(134, 134, 134, 0.3);
  border-radius: 5px;
}

.Home .HomeSection7 > div:first-child > form > input {
  border: none;
  background: transparent;
  padding-left: 10px;
  outline: none;
}

.Home .HomeSection7 > div:first-child > form > button {
  background-color: #3CBF54;
  border-radius: 5px;
  color: #eeeeee;
}

.Home .HomeSection7 > div:last-child {
  margin-left: 60px;
  margin-top: 10px;
}

.Home .HomeSection7 > div:last-child > h4 {
  background-color: #FAFAFA;
  font-size: 1rem;
  color: #255B7D;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.Home .HomeSection7 > div:last-child > img {
  width: 50px;
  margin-left: 20px;
}

@media screen and (min-width: 1200px) {
  .Home {
    margin: 0;
    margin-top: 180px;
  }
  .Home .HomeSection1 {
    max-width: 1100px;
    margin: 0 auto;
  }
  .Home .HomeSection1 div:first-child {
    width: 50%;
    padding-right: 150px;
    margin: 0;
  }
  .Home .HomeSection1 div:first-child > h6:first-child {
    font-size: 1rem;
    margin-top: 20px;
  }
  .Home .HomeSection1 div:first-child > h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  .Home .HomeSection1 div:first-child > h6:nth-child(3) {
    font-size: 1.125rem;
    margin-top: 20px;
  }
  .Home .HomeSection1 div:first-child .homeBtn {
    margin-top: 58px;
  }
  .Home .HomeSection1 div:first-child .homeBtn button {
    width: 171px;
    height: 48px;
    font-size: 1rem;
  }
  .Home .HomeSection1 div:first-child > div:last-child {
    margin-top: 40px;
  }
  .Home .HomeSection1 div:first-child > div:last-child > p {
    font-size: 1.125rem;
    margin: auto 0;
  }
  .Home .HomeSection1 div:first-child > div:last-child > div img:first-child {
    width: 70px;
  }
  .Home .HomeSection1 div:first-child > div:last-child > div img:last-child {
    width: 50px;
  }
  .Home .HomeSection1 > div:last-child {
    margin-left: 50px;
    width: 50%;
  }
  .Home .homeSection2 {
    max-width: 1100px;
    margin: 0 auto;
  }
  .Home .homeSection2 div:first-child {
    margin-top: 189px;
  }
  .Home .homeSection2 div:first-child > h6 {
    font-size: 1rem;
  }
  .Home .homeSection2 div:first-child > h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .Home .homeSection2 div:first-child > h4 {
    font-size: 1.125rem;
    width: 549px;
    margin: 0 auto;
    margin-top: 12px;
  }
  .Home .homeSection2 div:last-child > div {
    width: 355px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 341px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-left: 10px;
  }
  .Home .homeSection2 div:last-child > div > img {
    width: 80px;
  }
  .Home .homeSection2 div:last-child > div > h3 {
    font-size: 1.125rem;
  }
  .Home .homeSection2 div:last-child > div > h5 {
    font-size: 1rem;
  }
  .Home .homeSection2 div:last-child > div:hover {
    scale: 1.05;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
            box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
  }
  .Home .HomeSection3 {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 181px;
  }
  .Home .HomeSection3 > div:first-child {
    width: 50%;
    padding-left: 120px;
  }
  .Home .HomeSection3 > div:last-child {
    width: 50%;
    margin-top: 0;
    text-align: start;
    padding-left: 150px;
  }
  .Home .HomeSection3 > div:last-child > h6 {
    font-size: 1rem;
  }
  .Home .HomeSection3 > div:last-child > h4 {
    font-size: 1.5rem;
  }
  .Home .HomeSection3 > div:last-child > h5 {
    font-size: 1rem;
  }
  .Home .HomeSection3 > div:last-child > div {
    margin-top: 31px;
  }
  .Home .HomeSection3 > div:last-child > div > button {
    width: 171px;
    height: 48px;
    font-size: 16px;
  }
  .Home .HomeSection4 {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 242px;
  }
  .Home .HomeSection4 > div:first-child {
    width: 75%;
  }
  .Home .HomeSection4 > div:first-child > div:first-child {
    width: 25%;
    margin-top: 0;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(2),
  .Home .HomeSection4 > div:first-child > div:first-child > div:nth-child(1) {
    margin-bottom: 66px;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 30%;
    margin: 0;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div > hr {
    height: 80%;
    width: 5px;
    background-color: #255B7D;
    border: 2px solid #255B7D;
    position: absolute;
    left: 0;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div img {
    width: 40%;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div h3 {
    font-size: 1.125rem;
    margin-top: 6px;
  }
  .Home .HomeSection4 > div:first-child > div:first-child > div:first-child > hr {
    background-color: #3CBF54;
    border: 2px solid #3CBF54;
  }
  .Home .HomeSection4 > div:first-child > div:last-child {
    width: 60%;
    margin: 0 2.5%;
  }
  .Home .HomeSection4 > div:first-child > div:last-child > img {
    border-radius: 50px;
  }
  .Home .HomeSection4 > div:last-child {
    width: 25%;
  }
  .Home .HomeSection4 > div:last-child > h5 {
    font-size: 1rem;
  }
  .Home .HomeSection4 > div:last-child > h3 {
    font-size: 1.5rem;
    margin-top: 12px;
  }
  .Home .HomeSection4 > div:last-child > p {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 12px;
  }
  .Home .HomeSection4 > div:last-child > div:last-child button {
    width: 171px;
    height: 48px;
    color: #eeeeee;
    font-size: 16px;
  }
  .Home .HomeSection5 {
    max-width: 1100px;
    margin: 0 auto;
  }
  .Home .HomeSection5 > div:first-child > h6 {
    font-size: 1rem;
  }
  .Home .HomeSection5 > div:first-child > h3 {
    font-size: 1.5rem;
  }
  .Home .HomeSection5 > div:first-child > h4 {
    font-size: 1.5rem;
    width: 500px;
  }
  .Home .HomeSection5 > div:first-child > div:last-child {
    width: 300px;
    height: 70px;
    border-radius: 50px;
    margin-top: 36px;
  }
  .Home .HomeSection5 > div:first-child > div:last-child > h5 {
    font-size: 1.125rem;
  }
  .Home .HomeSection5 > div:first-child > div:last-child > div:last-child {
    border-radius: 50px;
    width: 50%;
  }
  .Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 {
    height: 416px;
  }
  .Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > h5 {
    font-size: 1.125rem;
  }
  .Home .HomeSection5 > div:last-child > div:first-child > div:last-child .card4 > h4 {
    font-size: 28px;
  }
  .Home .HomeSection6 {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
  }
  .Home .HomeSection6 > div:first-child > h6 {
    font-size: 1rem;
  }
  .Home .HomeSection6 > div:first-child > h4 {
    font-size: 1.5rem;
  }
  .Home .HomeSection6 > div:first-child > h5 {
    font-size: 1.125rem;
  }
  .Home .HomeSection6 > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Home .HomeSection6 > div:last-child .card2 {
    width: 50%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 0;
  }
  .Home .HomeSection6 > div:last-child .card2 > div:first-child {
    text-align: start;
    margin: 0;
    margin-left: 50px;
  }
  .Home .HomeSection6 > div:last-child .card2 > h5 {
    text-align: start;
    margin-left: 50px;
  }
  .Home .HomeSection6 > div:last-child .card2 > p {
    padding: 0 50px;
  }
  .Home .HomeSection6 > div:last-child .card2:nth-child(1) {
    border-right: 2px solid #255B7D;
    padding: 15px;
  }
  .Home .HomeSection6 > div:last-child .card2:nth-child(2) {
    border-left: 2px solid #255B7D;
    padding: 15px;
  }
  .Home .HomeSection6 > div:last-child .card2:nth-child(3) {
    border-right: 2px solid #255B7D;
    border-top: 2px solid #255B7D;
    padding: 15px;
    border-bottom: none;
    margin-top: 0;
  }
  .Home .HomeSection6 > div:last-child .card2:nth-child(4) {
    border-bottom: none;
    border-top: 2px solid #255B7D;
    border-left: 2px solid #255B7D;
    padding: 15px;
    margin-top: 0;
  }
  .Home .HomeSection7 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Home .HomeSection7 > div:first-child {
    padding: 40px 163px;
  }
  .Home .HomeSection7 > div:first-child > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 50px;
    width: 40%;
  }
  .Home .HomeSection7 > div:first-child > form {
    width: 489px;
    height: 48px;
    margin-left: 126px;
  }
  .Home .HomeSection7 > div:first-child > form > button {
    width: 120px;
    height: 46px;
  }
  .Home .HomeSection7 > div:last-child {
    margin-top: 40px;
    margin-right: 143px;
  }
  .Home .HomeSection7 > div:last-child > img {
    display: block;
  }
}
/*# sourceMappingURL=Home.css.map */