@import"./variables";


.Home{
    scroll-behavior: smooth;
    margin: 0 10px;
    margin-top: 120px;
   .HomeSection1{
        div:first-child{
        margin-top: 80px;
        >h6:first-child{
            font-size: $font-size-12px;
        }
        >h2{
            color: $primary-colour-blue;
            font-size: $font-size-20px;
            font-weight: $font-weight-medium;
            margin-top:15px ;
            margin-bottom: 0;
        }
        >h6:nth-child(3){
            font-size: $font-size-14px;
            color: $tetiary-colour-gray;
            margin-top: 10px;
        }
        .homeBtn{
            margin-top: 25px;
            button{
                font-size: $font-size-12px;
                
            }
            button:first-child{
                background-color: $secondary-colour-green;
            }
            button:last-child{
                border: 1px solid $secondary-colour-green;
                margin-left: 16px;

            }
        }
        >div:last-child{
            margin-top: 20px;
            >div{
                img{
                   width: 40px;
                   margin-left: 15px;
                }
            }
        }
        }
        >div:last-child{
            width: 100%;
            padding: 0 40px;
            img{
                width: 100%;
            }
        }
   } 
   .homeSection2{
        >div:first-child{
            margin-top: 40px;
            >h6{
                font-size: $font-size-14px;
            }
            >h3{
                font-size: $font-size-16px;
                color: $primary-colour-blue;
            }
            >h4{
                font-size: $font-size-14px;
               
            }
        }
        >div:last-child{
            div{
                padding:40px 20px;
                width: 70%;
                margin: 25px auto;
                background-color: $tetiary-colour-lightwhite;
                border-bottom: 3px solid $primary-colour-blue;
                box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
                img{
                    width: 60px;
                    margin: 10px;
                    
                }
                >h3{
                    font-size: $font-size-14px;
                    color: $primary-colour-blue;
                    margin: 10px 0;
                }
                >h5{
                    font-size: $font-size-12px;
                    margin: 10px;
                    color: $tetiary-colour-gray;
                    text-align: center;
                }
            }
        }

    }
    .HomeSection3{
        >div:first-child{
            position: relative;
            margin-top: 50px;
            >img:first-child{
             width: 60%;
             margin: 0 auto;
             z-index: 0;
            } 
            >img:last-child{
                position: absolute;
                left: 0;
                width: 100%;
                top: 1%;
                z-index: 0;
            }
        }
        >div:last-child{
            margin-top: 145px;
            text-align: center;
            padding: 30px;
            >h6{
                font-size: $font-size-12px;
            }
            >h4{
                font-size: $font-size-18px;
                color: $primary-colour-blue;
            }
            >h5{
                font-size: $font-size-14px;
                text-align: justify;
            }
            >div{
                margin-top: 15px;
                >button{
                    background-color: $secondary-colour-green;
                }
            }
        }
        
    }
    .HomeSection4{
        >div:first-child{
            flex-direction: column;
            margin-bottom: 60px;
            >div:first-child{
                // border: 1px solid red;
                width: 100%;
                >div{
                    width: 30%;
                    border-bottom: 3px solid $secondary-colour-green;
                    margin-left: 5%;
                    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
                    
                    img{
                        width: 40px;
                        margin-top: 13px;
                        
                    }
                    h3{
                        font-size: $font-size-16px;
                        margin-top: 6px;
                        color: $secondary-colour-green
                    }
                }
                >div:first-child{
                    margin-left: 0;
                }
                >div:nth-child(2),
                >div:nth-child(3){
                    border-bottom: 3px solid $primary-colour-blue;
                    >h3{
                        color: $primary-colour-blue;
                    }
                }

            }
            >div:last-child{
                width: 100%;
                margin-top: 60px;
                img{
                    width: 100%;
                }
            }
        }
        >div:last-child{
            margin-top: 60px;
            >h5{
                font-size: $font-size-14px;
            }
            >h3{
                font-size: $font-size-20px;
                color: $primary-colour-blue;
            }
            >p{
                color: $tetiary-colour-gray;
                font-size: $font-size-14px;
                text-align: justify;
            }
            >div{
                width: 100%;
                margin-top: 15px;
                button{
                    background-color: $secondary-colour-green;
                }
            }
            
        }
    }
    .HomeSection5{
        margin-top: 71px;
        >div:first-child{
            text-align: center;
            >h6{
                font-size: $font-size-14px;
            }
            >h3{
                font-size: $font-size-18px;
                color: $primary-colour-blue;
            }
            >h4{
                font-size: $font-size-14px;
                color: $tetiary-colour-gray;
            }
            >div:nth-child(4){
                width: 200px;
                height: 50px;
                background: rgba(37, 91, 125, 0.12);
                margin: 0 auto;
                margin-top: 12px;
                border-radius: 25px;
                display: flex;
                position: relative;
                box-sizing: border-box;
                box-sizing: border-box;
                >h5{
                    width: 50%;
                    text-align: center;
                    margin: auto;
                    z-index: 1;
                    color: white;
                    font-style: normal;
                    font-size: $font-size-14px;
                    cursor: pointer;
                }
                >div{
                    border-radius: 25px;
                    width: 50%;
                    position:absolute ;
                    background-color: $primary-colour-blue;
                    top: 2.5px;
                    height: 90%;

                    
                    
                }
                .toggleBtn1{
                    color: white;
                    transition: 0.5s all ease-out;

                }
                .toggleBtn2{
                    color: $primary-colour-blue;
                    transition: 0.5s all ease-out;
                }
                .toggleBtnMove1{
                    margin-left: 2px;
                    transition: 0.5s all ease-in;
                }
                .toggleBtnMove2{
                    margin-left: 48%;
                    transition: 0.5s all ease-out;
                }
            }
            
        }
        >div:last-child{
            margin-top: 30px;
            >div:first-child{
                >div:first-child{
                    >:first-child{
                        box-sizing: border-box;
                        padding:0 3px;
                        >div{
                            cursor: pointer;
                        }
                    }
                    >div:last-child{
                        width: 100%;
                        background-color: #eeeeee;
                        height: 5px;
                        >div{
                            width: 25%;
                            height: 4px;
                            margin: auto 0;
                            background-color: $primary-colour-blue;
                            
                        }
                        .toggleSlider1{
                            margin-left: 0;
                            transition: all ease-in 0.5s;
                        }
                        .toggleSlider2{
                            margin-left: 43%;
                            width: 23%;
                            transition: all ease-out 0.5s;
                        }
                        .toggleSlider3{
                            margin-left: 83%;
                            width: 17%;
                            transition: all ease-out 0.5s;
                        }
                       
                    }
                    
                }
                >div:last-child{
                    .card4{
                        background: #FAFAFA;
                        border-radius: 5px;
                        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
                        padding: 30px 8px ;
                        box-sizing: border-box;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 340px;
                        margin: 0 auto;
                        margin-top: 21.5px;
                        >h5:first-child{
                            font-weight: 600;
                            font-size: $font-size-18px
                        }
                        >h4{
                            font-weight: 700;
                            font-size: $font-size-20px;
                        }
                        >h5:nth-child(3){
                            text-transform: capitalize;
                            color: $tetiary-colour-gray;
                        }
                        >button{
                            background-color: $secondary-colour-green;
                            width: 141px;
                            margin: 0 auto;
                            margin-top: 18px;
                        }
                        >div{
                            justify-content: center;
                            margin-top: 13px;
                            >h5{
                                font-size: $font-size-16px;
                                margin-left: 14px;
                                color: $tetiary-colour-gray;
                            }
                            >img{
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    .HomeSection6{
        >div:first-child{
            margin-top: 70px;
            >h6{
                font-size: $font-size-16px;
            }
            >h4{
                font-size: $font-size-18px;
                color: $primary-colour-blue;
            }
            >h5{
               font-size: $font-size-14px;
               color: $tetiary-colour-gray;
            }
        }
        >div:last-child{
           .card2{
            margin-top: 55px;
            border-bottom:2px solid $primary-colour-blue;
            margin-bottom: 2px;
            >div:first-child{
                background-color: $primary-colour-blue;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                margin: 0 auto;
                margin-top: 14px;
                color: white;
            }
            >h5{
                color: $primary-colour-blue;
                margin-top: 14px;
            }
            >p{
                text-align: justify;
                margin-top: 14px;
                color: $tetiary-colour-gray;
            }
           } 
        }
    }
    .HomeSection7{
        >div:first-child{
            background-color: #E5EBEF;
            margin-top: 77px;
            padding: 20px;
            >div:first-child{
                >h6:first-child{
                    font-size: $font-size-14px;
                }
                >h4{
                    color: $primary-colour-blue;
                    font-size: $font-size-20px;
                }
                >h6:last-child{
                    color: $tetiary-colour-gray;
                    font-size: $font-size-16px;
                }
            }
            >form{
                width: 100%;
                background: rgba(217, 217, 217, 0.3);
                border: 0.33px solid rgba(134, 134, 134, 0.3);
                border-radius: 5px;
                >input{
                    border: none;
                    background: transparent;
                    padding-left: 10px;
                }
                >button{
                    background-color: $secondary-colour-green;
                    border-radius: 5px;
                }
            }
        }
        >div:last-child{
            margin-left: 60px;
            >h4{
                background-color: #FAFAFA;
                font-size: $font-size-16px;
                color: $primary-colour-blue;
                width: fit-content;
                display: inline-block;
            }
            >img{
                width: 50px;
                margin-left: 20px;
            }
        }
    }
}
@media screen and (min-width:1200px) {
    .Home{
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 180px;
        padding: 0 20px;
        // border: 1px solid red;
        .HomeSection1{
            div:first-child{
                width: 50%;
                padding-right: 150px;
                margin: 0;
    
                >h6:first-child{
                    font-size: $font-size-16px;
                    margin-top: 20px;
                }
                >h2{
                    font-size: 40px;
                    margin-top: 20px;
                }
                >h6:nth-child(3){
                    font-size: $font-size-18px;
                    margin-top: 20px;
                }
                .homeBtn{
                    margin-top: 58px;
                    button{
                        width: 171px;
                        height: 48px;
                        font-size: $font-size-16px;
                    }
                    
                }
                >div:last-child{
                    margin-top: 40px;
                    >p{
                        font-size: $font-size-18px;
                    }
                    >div{
                        img:first-child{
                            width: 70px;
                        }
                        img:last-child{
                            width: 20px;
                        }
                    }
                }
            }
            >div:last-child{
                width: 50%;
            }
        }
        .homeSection2{
            div:first-child{
                margin-top: 189px;
                >h6{
                    font-size: $font-size-16px;
                    
                }
                >h3{
                    font-size: $font-size-24px;
                    margin-top: 15px;
                }
                >h4{
                    font-size: $font-size-18px;
                    width: 549px;
                    margin: 0 auto;
                    margin-top: 20px;
                }
            }
            div:last-child{
                >div{
                    width: 355px;
                    box-sizing: border-box;
                    height: 341px;
                    box-shadow: none;
                    margin-left: 10px;
                    
                    >img{
                        width: 80px;
                    }
                    >h3{
                        font-size: $font-size-18px;
                    }
                    >h5{
                        font-size: $font-size-16px;
                    }
                }
                >div:hover{
                    scale: 1.05;
                    transition:all ease-out 0.3s;
                    cursor: pointer;
                    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
                }
            }
        }
        .HomeSection3{
            margin-top: 181px;
            >div:first-child{
                width: 50%;
                padding-left:120px ;
            }
            >div:last-child{
                width: 50%;
                margin-top: 0;
                text-align: start;
                padding-left: 150px;
                >h6{
                    font-size: $font-size-16px;
                }
                >h4{
                    font-size: $font-size-24px;
                }
                >h5{
                    font-size: $font-size-16px;
    
                }
                >div{
                    margin-top: 31px;
                    >button{
                        width: 171px;
                    }
                }
            }
        }
        .HomeSection4{
            margin-top: 242px;
            >div:first-child{
                width: 75%;
                >div:first-child{
                    width: 25%;
                    margin-top: 0;
                    >div{
                    position: relative;
                        >hr{
                            height: 80%;
                            width: 5px;
                            background-color: $primary-colour-blue;
                            border: 2px solid $primary-colour-blue;
                            position: absolute;
                            left: 0;
                        }
                        width: 100%;
                        height: 30%;
                        margin: 0;
                        img{
                            width: 40%;
                        }
                        h3{
                            font-size: $font-size-18px;
                            margin-top: 6px;
                        }
                    }
                    >div:first-child{
                        >hr{
                            background-color: $secondary-colour-green;
                            border: 2px solid $secondary-colour-green;
                        }
                    }
                   
                }
                >div:last-child{
                    width: 60%;
                    margin: 0 2.5%;
                }
            }
            >div:last-child{
                width: 25%;
                >h5{
                    font-size: $font-size-16px;
                }
                >h3{
                    font-size: $font-size-20px;
                }
                >p{
                    font-size: $font-size-16px;
                }
            }
        }
        .HomeSection5{
            >div:first-child{
                >h6{
                    font-size: $font-size-16px;
                }
                >h3{
                    font-size: $font-size-24px;
                }
                >h4{
                    font-size: $font-size-24px;
                }
                >div:last-child{
                    width: 300px;
                    height: 70px;
                    border-radius: 50px;
                    margin-top: 36px;
                    >h5{
                        font-size: $font-size-18px;
                    }
                    >div:last-child{
                        border-radius: 50px;
                        width: 50%;
                    }
                }
            }
            >div:last-child{
                >div:first-child{
                    >div:first-child{
                        >div:first-child{
                            margin-bottom: 21px;
                            >div{
                                width: fit-content;

                                >img{
                                    width: fit-content;
                                }
                                h6{
                                    font-size: $font-size-18px;
                                    margin-left: 12px;
                                }
                            }
                        }
                        >div:last-child{
                            .toggleSlider1{
                                margin-left: 0;
                                width: 15%;
                               
                            }
                            .toggleSlider2{
                                margin-left: 44%;
                                width: 15%;
                               
                            }
                            .toggleSlider3{
                                margin-left: 90%;
                                width: 10%;

                            }
                        }
                    }
                }
            }
        }
        .HomeSection6{
            width: 100%;
            >div:first-child{
                >h6{
                    font-size: $font-size-16px;
                }
                >h4{
                    font-size: $font-size-24px;
                }
                >h5{
                    font-size: $font-size-18px;
                }
            }
            >div:last-child{
                display: flex;
                .card2{
                    width: 50%;
                    display: inline-block;
                    padding: 15px;
                    margin-bottom: 0;
                }
                .card2:nth-child(1){
                    border-right: 2px solid $primary-colour-blue;
                    padding: 15px;
                }
                .card2:nth-child(2){
                    border-left: 2px solid $primary-colour-blue;
                    padding: 15px;
                }
                .card2:nth-child(3){
                    border-right: 2px solid $primary-colour-blue;
                    border-top: 2px solid $primary-colour-blue;
                    padding: 15px;
                    border-bottom: none;
                    margin-top: 0;
                }
                .card2:nth-child(4){
                    border-bottom: none;
                    border-top: 2px solid $primary-colour-blue;
                    border-left: 2px solid $primary-colour-blue;
                    padding: 15px;
                    margin-top: 0;

                }
               
            }
        }
        .HomeSection7{
            >div:first-child{
                padding: 40px 163px;
                >div{
                    width: fit-content;
                }
                >form{
                    width:400px ;
                    height: 48px;
                }

            }
            >div:last-child{
                margin-top: 40px;
                >img{
                    display: block;
                }
            }
        }
    }
}