.navBar {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
}
.navBar .navBarSs {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  padding: 10px;
}
.navBar .navBarSs .hamburger-react {
  grid-column: span 2;
}
.navBar .navBarSs .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  grid-column: span 12;
  color: #255B7D;
  background-color: #FFFFFF;
}
.navBar .navBarSs .menu > link {
  text-transform: capitalize;
  padding-left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #255B7D;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.navBar .navBarSs > img {
  margin-left: 10px 0;
  display: inline-block;
  grid-column: 1/span 10;
}
.navBar .navBarSs .menuOpen {
  height: 200px;
  transition: all 0.3s ease-out;
}
.navBar .navBarSs .menuClose {
  height: 0px;
  transition: all 0.3s ease-in;
}
.navBar .navarBs {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navBar .navBarSs {
    display: none;
  }
  .navBar .navarBs {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    height: 25px;
    /* Keyframes */
  }
  .navBar .navarBs > a {
    font-size: 1rem;
    color: #255B7D;
    text-decoration: none;
    position: relative;
    font-weight: 500;
  }
  .navBar .navarBs .strokes::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    color: transparent;
    background: #3CBF54;
    height: 2px;
  }
  .navBar .navarBs .strokes:hover::after,
  .navBar .navarBs .strokes:active::after {
    width: 100%;
    transition: all 0.3s ease-in;
  }
  @keyframes strokes {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
  .navBar .navarBs > div {
    width: 30%;
  }
  .navBar .navarBs > div > a > img {
    cursor: pointer;
  }
}
.miniNav > div:first-child {
  box-sizing: border-box;
  padding: 0 3px;
}
.miniNav > div:first-child > div {
  cursor: pointer;
  color: #255B7D;
}
.miniNav > div:first-child > div > h6 {
  font-weight: 500;
}
.miniNav > div:last-child {
  width: 100%;
  background-color: #eeeeee;
  height: 5px;
}
.miniNav > div:last-child > div {
  width: 25%;
  height: 4px;
  margin: auto 0;
  background-color: #255B7D;
}
.miniNav > div:last-child .toggleSlider1 {
  margin-left: 0;
  transition: all ease-in 0.5s;
}
.miniNav > div:last-child .toggleSlider2 {
  margin-left: 43%;
  width: 23%;
  transition: all ease-out 0.5s;
}
.miniNav > div:last-child .toggleSlider3 {
  margin-left: 83%;
  width: 17%;
  transition: all ease-out 0.5s;
}

@media screen and (min-width: 1200px) {
  .miniNav > div:first-child {
    margin-bottom: 21px;
  }
  .miniNav > div:first-child > div {
    width: -moz-fit-content;
    width: fit-content;
  }
  .miniNav > div:first-child > div > img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .miniNav > div:first-child > div h6 {
    font-size: 1.125rem;
    margin-left: 12px;
  }
  .miniNav > div:last-child .toggleSlider1 {
    margin-left: 0;
    width: 15%;
  }
  .miniNav > div:last-child .toggleSlider2 {
    margin-left: 44%;
    width: 15%;
  }
  .miniNav > div:last-child .toggleSlider3 {
    margin-left: 90%;
    width: 10%;
  }
}/*# sourceMappingURL=NavBar.css.map */