@import "./variables";

.navBar{
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: $tetiary-colour-white;
    .navBarSs{
        width: 100vw;
        height: fit-content;
        margin-top: 10px;
        padding: 10px;
        .hamburger-react{
            grid-column: span 2;
        }
        .menu{
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            grid-column: span 12;
            color: $primary-colour-blue;
            background-color: $tetiary-colour-white;
            
            >a{
                text-transform: capitalize;
                padding-left: 20px;
                height: 30px;
                display: flex;
                align-items: center;
                color: $primary-colour-blue;
                font-weight: 600;
               cursor: pointer;
               text-decoration: none;
               border-bottom: 1px solid whitesmoke;
               width: 100%;
               align-items: center;
               display: flex;
               justify-content: space-around;
               
               
              
            }
        }
        >img{
            margin-left: 10px 0;
            display: inline-block;
            grid-column: 1/span 10;
        }
        .menuOpen{
            height: 185px;
            // opacity: 1;
            transition: all 0.3s ease-out;
        }
        .menuClose{
            height: 0px;
            // opacity: 0;
            transition: all 0.3s ease-in;

        }
        
    }
    .navarBs{
        display: none;
    }
}
@media screen and (min-width:1200px) {
    .navBar{
        
        .navBarSs{
            display: none;
        }
        .navarBs{
            display: inline-block;
            margin-top: 25px;
            width: 100%;
            height: 25px;
            
            >a{
                font-size: $font-size-16px;
                color:$primary-colour-blue;
                text-decoration: none;
                position: relative;

            }
            .strokes::after{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '';
                color: transparent;
                background: $secondary-colour-green;
                height: 2px;
            }
            .strokes:hover::after,
            .strokes:active::after{
                width: 100%;
                transition: all 0.3s ease-in;
            }
            /* Keyframes */
            @keyframes strokes {
                0% {
                width: 0%;
                }
                50% {
                width: 100%;
                }
                100% {
                width: 100%;

                }
            }
  
            >div{
                width: 30%;
                >a{
                    >img{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
