@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap");

html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: "IBM Plex Serif", Arial, Helvetica, sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100vw;
}

