@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&display=swap');


html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: "IBM Plex Serif", Arial, Helvetica, sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100vw;
}
.imageSwapIn{
  opacity: 1;
  scale: 1;
  transition: 0.5s all ease-in;
}
.imageSwapOut{
  opacity: 0.2;
  scale: 0.9;
  transition: 0.5s all ease-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  

  
}
.glass{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

